body {
    margin: 0;
    padding: 0;
    background-color: chocolate;
    padding: 20px;
    text-align: center;
}

header {
    background-color: aquamarine;
    padding: 10px;
    text-align: center;
    color: chocolate;
}

ul {
    list-style-type: none;
}

footer {
    background-color: cyan;
    color: crimson;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}