body {
    background-color: rgba(0, 0, 0, 0.844);
    color: white;
}
section {
    font-size: large;
}
.st1 {
    font-family: 'Comic Sans MS';
}
.st2 {
    font-family: 'Arial Narrow Bold', sans-serif;
}
.st3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.st4 {
    font-family: monospace;
    color: darkorange;
}
.mnogo_bykov {
    color: darkviolet;
}

footer {
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: larger;
}